body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    display: flex;
    flex-direction: row;
}
header {
    background-image: url('A_modern_eSports_banner_background_without_any_log.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.vertical-menu {
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 10px;
    width: 200px;
    height: 100vh; /* Full height menu */
    position: fixed; /* Sticks to the left */
}
.vertical-menu a {
    color: white;
    padding: 12px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
.vertical-menu a:hover {
    background-color: #575757;
}
section {
    padding: 20px;
    margin-left: 220px; /* Shifts content to leave space for the menu */
    width: calc(100% - 220px); /* Ensures the section takes the full available width */
}
section h2 {
    color: #d32f2f; /* Rouge */
}
iframe {
    border: 1px solid #ddd;
    width: 100%;
    height: 500px;
}
